In [26]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [27]:
df=pd.read_csv('hr_data.csv')

from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
le_salary=LabelEncoder()
df['_salary']=le_salary.fit_transform(df['salary'])
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,_salary
0,0.38,0.53,2,157,3,0,1,0,sales,low,1
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2
3,0.72,0.87,5,223,5,0,1,0,sales,low,1
4,0.37,0.52,2,159,3,0,1,0,sales,low,1

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
rs=RandomizedSearchCV(SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']
},cv=5,return_train_score=False,n_iter=2)
rs.fit(df[['satisfaction_level','average_montly_hours','_salary']],df.left)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
from sklearn.model_selection import RandomizedSearchCV
param_dist = {
    'n_estimators': [1, 10, 20],
}

# Create the RandomizedSearchCV object
rs = RandomizedSearchCV(
    estimator=RandomForestClassifier(),  # Change to RandomForestRegressor if needed
    param_distributions=param_dist,
    cv=5,
    return_train_score=False,
    n_iter=2
)
rs.fit(df[['satisfaction_level','average_montly_hours','_salary']],df.left)
pd.DataFrame(rs.cv_results_)['mean_test_score']